.container {
    width: 1000px;  
}

.left {
    width: 50%;
    height: 200px; 
    border: 4px solid black;
    float: left;
}

.blog-profile > img {
    width: 70px;
    float: left; 
}

.blog-img { 
    width: auto;
    padding: auto;
    margin: auto;
    height: 200px; 
    border: 4px solid black;
    float: left;
}