@import './_reset.scss';
 
$mainColor: #ff0000;

.red {
  color: $mainColor;  
} 

.my-alert {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;

  p {
    margin-bottom: 0;
  } 
}  
 
.my-alert2 {
  @extend .my-alert;
  background-color: #ffe591;
}
 
@mixin 함수() {
  background-color: green;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;

  p {
    margin-bottom: 0;
  }  
}

.my-alert3 {
  @include 함수();
}  

// 애니메이션이 시작할 때 적용할 CSS
.animation-enter {
  opacity: 0;
}

// 애니메이션이 동작할 때 적용할 CSS
.animation-enter-active {
  opacity: 1;
  transition: all 500ms; // opacity가 0에서 1까지 서서히 변하게 해줘.
}